:root {
	--color-primary: #d0c8c0;

	--background-primary: #404040;
	--background-secondary: #504840;

	--border-primary: #9C916D;
	--border-secondary: #B5AD92;

	--button-background-color: #344037;
	--button-background-hover: #3e4d42;

	/* mountain wheat */
	--link-color-primary: #9C916D;
	--link-hover-primary: #B5AD92;

	--primary-black: #2a332c;
	--primary-gray: #b0b0b0;
	--primary-white: #e0e0e0;

	--secondary-black: #3f4d42;
	--secondary-gray: #c0c0c0;
	--secondary-white: #f0f0f0;

	--text-black: var(--primary-black);
	--text-white: var(--primary-white);

	/*
	cactus: A0C0A8

	80%: #a9ccb1
	75%: #a0c0a8
	70%: #92b399
	50%: #6a806f
	30%: #3f4d42
	20%: #2a332c
	 */
}

body {
	color: var(--color-primary);
	background-color: var(--background-primary);
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--link-color-primary);
	text-decoration: none;
}

a:hover {
	color: var(--link-hover-primary);
}

a.button  {
	margin: 0.25rem;
	border: 1px solid var(--link-color-primary);
	border-radius: 5px;
	padding: 0.25rem;
}

a.button:hover {
	border: 1px solid var(--link-hover-primary);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
	background-color: var(--background-primary);
	min-height: 100vh;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
}

.header {
	padding: 0.5rem;
	background-color: var(--background-secondary);

	align-self: stretch;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
}

.content {
	/*max-width: 60rem;*/
	/*min-width: 10rem;*/

	padding: 0 1rem 0 1rem;

	flex: 100 1 auto;

	display: flex;
	flex-flow: column nowrap;
	/* along the main axis */
	justify-content: flex-start;
	/* along the cross axis */
	align-items: stretch;

}

.footer {
	padding: 0.5rem;
	background-color: var(--background-secondary);

	align-self: stretch;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.footer .copyright {
}

.footer .tagline {
}

.no-margin {
	margin: 0;
}

.no-wrap {
	white-space: nowrap;
}


