.notice {
	width: 100%;

	color: lightgrey;
	background: #404040;
	border: 1px solid #b8b8b8;
	border-radius: 5px;
	padding: 0.5rem;

	box-sizing: border-box;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
}

.notice .icon {
	color: lightgrey;
}

.notice-error {
	color: red;
	background: #302020;
	border: 1px solid #c04040;
}

.notice-error .icon {
	color: red;
}

.notice-error .icon:hover {
	color: #C00000;
}

.notice-warn {
	color: yellow;
	background: #303020;
	border: 1px solid #c0c040;
}

.notice-warn .icon {
	color: yellow;
}

.notice-warn .icon:hover {
	color: #c0c000;
}

.notice-messages {
	background: transparent;

	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}

.notice-message {
	background: transparent;
}

.notice-close {
	border: none;

	/*float: right;*/
	padding: 16px;
	margin: -16px;
	text-align: center;
	cursor: pointer;
	background: none;
	border: 0;
}

.notice-close:hover {
	border: none;
}

.icon {
	fill: currentColor;

	display: inline-block;
	box-sizing: border-box;

	text-align: center;
	vertical-align: text-bottom;
	cursor: pointer;
}
